<header class="header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      {% for page in site.pages %}
        {% if page.title and page.public %}
        <a class="page-link" href="{{ site.baseurl }}{{ page.url }}">{% t page.title %}</a>
        {% endif %}
      {% endfor %}
      {% if site.lang == "en" %}
        <a class="page-link" href="{{ page.url }}"><img class="page-link" src="{{ "/images/en.png" | prepend: site.baseurl_root }}"></a>
      {% elsif site.lang == "id" %}
        <a class="page-link" href="http://nurulirfan.com/en{{ page.url }}"><img class="page-link" src="{{ "/images/id.png" | prepend: site.baseurl_root }}"></a>
      {% endif %}
    </nav>
  </div>
</header>
