.container{
    left: 0;
    right: 0;
}

.belum-selesai{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

#pesan1{
    font-size: 1.5em;
}

#bloklink{
    background-color: black;
    padding: 3px;
}

a{
    color: white;
    text-decoration: none;
}

#main-logo{
    height: 400px;
    width: 400px;
    margin-top: 50px;
}
